/* main{
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
} */

/* 
div.post{
    display: grid; */
    /* grid-template-columns: .6fr 1.1fr; */
    /* gap: 20px; */
/* } */

/* div.post div.texts h2 {
    margin: 0;
    font-size: 1.6rem;
} */
*{
  box-sizing: border-box;
}
input {
  display: block;
  margin-bottom: 16px;
  margin-left: 30px;
  width: 90%;
  padding: 6px 7px;
}

.bordersty{
  border: 1px solid #ddd;
  
}
.bord{
  margin-top: 20px;
  border: 1px solid #ddd;
}
